.navbar{
  position:absolute;
  width: 322px;
  height: 30px;
  left: 410px;
  top: 62px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:0;
  width: 100%;
}

li{
  float: left;
}


li a{
  display:block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

li a:hover{
  font-weight: bold;
}


.rectangle{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 240px;
  top: 74px;
  background-color: #9C69E2;
  border-radius: 20px;
}

.rect{
  position:absolute;
  width: 20px;
  height: 35px;
  left: 269px;
  top: 59px;
  background-color: #F063B8;
  border-radius: 20px;
  margin: auto;
}

.button{
  position:absolute;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 47px;
  border-radius: 50px;
  border:none;
  background-color:#FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color:#212353;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.vector{
  width: 20px;
  height: 0px;
  top: 77px;
  left: 1311px;
  border: 2px solid #9C69E2;
  position: absolute;
  box-sizing: border-box;
}

.pointer{
  width: 14px;
  height: 14px;
  top: 72.5px;
  left: 1320.5px;
  position:absolute;
  transform: rotate(360deg);
}


button:hover{
  background-color: #f1a8d3;
  color: white;
}

.headline{
  position:absolute;
  width: 645px;
  height: 464px;
  left: 240px;
  top: 237px;
}
.text{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-style: normal;
  font-size:80px;
  line-height: 88px;
  color:#212353;
}

.paragraph{
  width: 380px;
  height: 120px;
  top: 471px;
  left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size: 18px;
  line-height: 28.8px;
}

.learn{
  position: absolute;
  width: 170px;
  height: 60px;
  left: 240px;
  top: 641px;
  border:none;
  border-radius: 50px;
  background-color:#9C69E2;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size: 18px;
  align-content: center;
  line-height: 28.8px;
}

.learn:hover{
  background-color: #212353;
}

.image{
  position: absolute;
  width: 885px;
  height: 468px;
  top: 340px;
  left: 603px;
}

.rectangle3{
  position: absolute;
  width: 1117px;
  height: 560px;
  top: 903.18px;
  left: 240px;
  border-radius: 50px;
  background-color:rgba(240, 99, 184, 0.15);
  
}

.headline2{
  position: absolute;
  width: 475px;
  height: 100px;
  top: 1028.18px;
  left: 790px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style:normal;
  font-size: 40px;
  line-height: 52px;
  color:#212353;
  
}

.text2{
  position: absolute;
  width: 474px;
  height: 170px;
  top: 1168.18px;
  left: 790px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 28.8px;
  color:#4B5D68;
}

.image2{
  position: absolute;
  width: 477px;
  height: 504px;
  left: 251px;
  top: 935px;
}

.featuresHeadline{
  position: absolute;
  width: 405px;
  height: 52px;
  left: 700px;
  top: 1613px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color:#212353;
}

.featuresText{
  position: absolute;
  width: 584px;
  height: 58px;
  left: 507.29px;
  top: 1715px;
  font-family:Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color:#4B5D68;
}

.searchData{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 1922px;
  font-family: Helvetica;
  font-style:normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display:flex;
  align-items: center;
  color:#212353;
}

.searchText{
  position: absolute;
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 1992px;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.image3{
  position: absolute;
  width: 232px;
  height: 211px;
  left: 239px;
  top: 1946px;
}

.rectangle4{
  position: absolute;
  width: 442px;
  height: 358px;
  left: 328.29px;
  top: 1873px;
  background-color: #68C9BA;
  opacity: 0.1;
  border-radius: 50px;
}

.LM1{
  position: absolute;
  width: 87px;
  height: 26px;
  left: 500.29px;
  top: 2172px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items:center;
  letter-spacing: 0.005em;
}

.ellipse{
  position: absolute;
  width: 33.7px;
  height: 19.91px;
  left: 621.4px;
  top: 1916.88px;
  border: 1.5px solid #FFFFFF;
  transform: rotate(20.72deg);
  mix-blend-mode: normal;
  border-radius: 50px;
}

.vector2{
  position: absolute;
  width: 203.82px;
  height: 118.6px;
  left: 674.41px;
  top: 2070.99px;
  border: 1.5px solid #FFFFFF;
  border-radius: 80px;
  transform: rotate(-135deg);
}

.hoursHeadline{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 1922px;
  font-family: Helvetica;
  font-style:normal;
  font-weight:normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color:#212353;
}

.rectangle5{
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 1873px;
  border-radius: 20px;
  background-color: #9C69E2;
  opacity: 0.1;
}

.image4{
  position: absolute;
  width: 241px;
  height: 185px;
  left: 813px;
  top: 1980px; 
}

.hoursText{
  position: absolute;
  width: 220px;
  height: 160px;
  left: 1087.28px;
  top: 1992px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.LM2{
  position: absolute;
  width: 87px;
  height: 26px;
  left: 1087.28px;
  top: 2127px;
  font-family: Helvetica;
  font-weight: 900;
  font-style:normal;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color:#212353;
}

.printHeadline{
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 2330px;
  display: flex;
  align-items: center;
  color: #212353;
}

.printText{
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 2400px;
  color:#4B5D68;
}

.LM3{
  position: absolute;
  height: 26px;
  width: 87px;
  left: 500.28515625px;
  top: 2580px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  color:#212353;
}

.rectangle6{
  position: absolute;
  width: 442px;
  height: 358px;
  top: 2281px;
  left: 328.29px;
  border-radius: 50px;
  background-color: #F063B8;
  opacity: 0.1;
}

.image5{
  position: absolute;
  width: 245px;
  height: 181px;
  left: 220px;
  top: 2404px;
}

.securityHeadline{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 2330px;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;  
}

.securityText{
  height: 160px;
  width: 220px;
  left: 1087.28px;
  top: 2400px;
  position: absolute;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#4B5D68;
}

.rectangle7{
  position: absolute;
  height: 358px;
  width: 442px;
  left: 915.284px;
  top: 2281px;
  border-radius: 50px;
  background-color: #2D9CDB;
  opacity: 0.1;
}

.image6{
  position: absolute;
  height: 201px;
  width: 230px;
  left: 818px;
  top: 2367px;
  border-radius: 0px;
}

.LM4{
  position: absolute;
  height: 26px;
  width: 87px;
  left: 1087.28px;
  top: 2580px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  color:#212353;
}