.navbar{
  position:absolute;
  width: 322px;
  height: 30px;
  left: 410px;
  top: 62px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:0;
  width: 100%;
}

li{
  float: left;
}


li a{
  display:block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

li a:hover{
  font-weight: bold;
}


.rectangle{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 240px;
  top: 74px;
  background-color: #9C69E2;
  border-radius: 20px;
}

.rect{
  position:absolute;
  width: 20px;
  height: 35px;
  left: 269px;
  top: 59px;
  background-color: #F063B8;
  border-radius: 20px;
  margin: auto;
}

.button{
  position:absolute;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 47px;
  border-radius: 50px;
  border:none;
  background-color:#FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color:#212353;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.vector{
  width: 20px;
  height: 0px;
  top: 77px;
  left: 1311px;
  border: 2px solid #9C69E2;
  position: absolute;
  box-sizing: border-box;
}

.pointer{
  width: 14px;
  height: 14px;
  top: 72.5px;
  left: 1320.5px;
  position:absolute;
  transform: rotate(360deg);
}


button:hover{
  background-color: #f1a8d3;
  color: white;
}

.headline{
  position:absolute;
  width: 645px;
  height: 464px;
  left: 240px;
  top: 237px;
}
.text{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-style: normal;
  font-size:80px;
  line-height: 88px;
  color:#212353;
}

.paragraph{
  width: 380px;
  height: 120px;
  top: 471px;
  left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size: 18px;
  line-height: 28.8px;
}

.learn{
  position: absolute;
  width: 170px;
  height: 60px;
  left: 240px;
  top: 641px;
  border:none;
  border-radius: 50px;
  background-color:#9C69E2;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size: 18px;
  align-content: center;
  line-height: 28.8px;
}

.learn:hover{
  background-color: #212353;
}

.image{
  position: absolute;
  width: 885px;
  height: 468px;
  top: 340px;
  left: 603px;
}

.rectangle3{
  position: absolute;
  width: 1117px;
  height: 560px;
  top: 903.18px;
  left: 240px;
  border-radius: 50px;
  background-color:rgba(240, 99, 184, 0.15);
  
}

.headline2{
  position: absolute;
  width: 475px;
  height: 100px;
  top: 1028.18px;
  left: 790px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style:normal;
  font-size: 40px;
  line-height: 52px;
  color:#212353;
  
}

.text2{
  position: absolute;
  width: 474px;
  height: 170px;
  top: 1168.18px;
  left: 790px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 28.8px;
  color:#4B5D68;
}

.image2{
  position: absolute;
  width: 477px;
  height: 504px;
  left: 251px;
  top: 935px;
}

.featuresHeadline{
  position: absolute;
  width: 405px;
  height: 52px;
  left: 700px;
  top: 1613px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color:#212353;
}

.featuresText{
  position: absolute;
  width: 584px;
  height: 58px;
  left: 507.29px;
  top: 1715px;
  font-family:Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color:#4B5D68;
}

.searchData{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 1922px;
  font-family: Helvetica;
  font-style:normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display:flex;
  align-items: center;
  color:#212353;
}

.searchText{
  position: absolute;
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 1992px;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.image3{
  position: absolute;
  width: 232px;
  height: 211px;
  left: 239px;
  top: 1946px;
}

.rectangle4{
  position: absolute;
  width: 442px;
  height: 358px;
  left: 328.29px;
  top: 1873px;
  background-color: #68C9BA;
  opacity: 0.1;
  border-radius: 50px;
}

.LM1{
  position: absolute;
  width: 87px;
  height: 26px;
  left: 500.29px;
  top: 2172px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items:center;
}

.ellipse{
  position: absolute;
  width: 33.7px;
  height: 19.91px;
  left: 621.4px;
  top: 1916.88px;
}

.vector2{
  position: absolute;
  height: 118.6px;
  width: 203.82px;
  left: 550.41px;
  top: 1885.99px;
}

.hoursHeadline{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 1922px;
  font-family: Helvetica;
  font-style:normal;
  font-weight:normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color:#212353;
}

.rectangle5{
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 1873px;
  border-radius: 20px;
  background-color: #9C69E2;
  opacity: 0.1;
}

.image4{
  position: absolute;
  width: 241px;
  height: 185px;
  left: 813px;
  top: 1980px; 
}
.vector56{
  position: absolute;
  width:222.22px;
  height:129.3px;
  left: 1108.28px;
  top:2050px;
  mix-blend-mode:overlay;
}

.hoursText{
  position: absolute;
  width: 220px;
  height: 160px;
  left: 1087.28px;
  top: 1992px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  mix-blend-mode: overlay;
}

.LM2{
  position: absolute;
  width: 87px;
  height: 26px;
  left: 1087.28px;
  top: 2127px;
  font-family: Helvetica;
  font-weight: 900;
  font-style:normal;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color:#212353;
}

.printHeadline{
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 2330px;
  display: flex;
  align-items: center;
  color: #212353;
}

.printText{
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 2400px;
  color:#4B5D68;
}

.printEllipse{
  position: absolute;
  height: 40.214253129070975px;
  width: 68.05489460574759px;
  left: 650.3291015625px;
  top: 2337.8265380859375px;
  border-radius: 0px;
  transform: rotate(150deg);
}

.LM3{
  position: absolute;
  height: 26px;
  width: 87px;
  left: 500.29px;
  top: 2580px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  color:#212353;
}

.rectangle6{
  position: absolute;
  width: 442px;
  height: 358px;
  top: 2281px;
  left: 328.29px;
  border-radius: 50px;
  background-color: #F063B8;
  opacity: 0.1;
}

.image5{
  position: absolute;
  width: 245px;
  height: 181px;
  left: 220px;
  top: 2404px;
}

.securityHeadline{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 2330px;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;  
}

.securityText{
  height: 160px;
  width: 220px;
  left: 1087.28px;
  top: 2400px;
  position: absolute;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#4B5D68;
}

.ellipse61{
  position: absolute;
  mix-blend-mode: overlay;
  height: 36.547477893513964px;
  width: 61.84957533269474px;
  left: 1275.2138671875px;
  top: 2558.99853515625px;
  border-radius: 0px;
}

.vector57{
  position: absolute;
  height: 188.28339598394177px;
  width: 323.5768905412554px;
  left: 940.2841796875px;
  top: 2340.746337890625px;
  border-radius: 0px;
  mix-blend-mode: overlay;
}

.rectangle7{
  position: absolute;
  height: 358px;
  width: 442px;
  left: 915.284px;
  top: 2281px;
  border-radius: 50px;
  background-color: #2D9CDB;
  opacity: 0.1;
}

.image6{
  position: absolute;
  height: 201px;
  width: 230px;
  left: 818px;
  top: 2367px;
  border-radius: 0px;
}

.LM4{
  position: absolute;
  height: 26px;
  width: 87px;
  left: 1087.28px;
  top: 2580px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  color:#212353;
}

.testRectangle{
  height: 709px;
  width: 1118px;
  left: 242px;
  top: 2789px;
  border-radius: 50px;
  background: #9C69E2;
  position: absolute;
}

.testHeading{
  position: absolute;
  height: 52px;
  width: 405px;
  left: 335px;
  top: 2898px;
  color:#FFFFFF;
  font-family:Helvetica;
  font-style:normal;
  font-weight:bold;
  font-size: 40px;
  line-height: 130%;
  display:flex;
  align-items: center;
}

.innerRectangle{
  position:absolute;
  width:645px;
  height:330px;
  left:335px;
  top:3038px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}

.ellipse76{
  position: absolute;
  width:90px;
  height:90px;
  left:405px;
  top:3098px;
}

.name1{
  position: absolute;
  width:170px;
  height:29px;
  left:525px;
  top:3100px;
  font-family:Helvetica;
  font-weight:800;
  font-style:normal;
  font-size:18px;
  line-height:28.8px;
  letter-spacing: 0.5%;
  color:#212353;
}

.job1{
  position: absolute;
  width:101px;
  height:22px;
  top:3147px;
  left:525px;
  font-family:Helvetica;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  line-height:22.4px;
  letter-spacing: 1%;
  color:#9C69E2;
}

.cardText1{
  position: absolute;
  height: 130px;
  width: 385px;
  left: 525px;
  top: 3188px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.innerRectangle2{
  position: absolute;
  height: 330px;
  width: 400px;
  left: 1000px;
  top: 3038px;
  border-radius: 20px;
  background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  transform:rotate(180deg);
}

.ellipse77{
  position: absolute;
  height: 90px;
  width: 90px;
  left: 1040px;
  top: 3093px;
  border-radius: 0px;  
}

.name2{
  position: absolute;
  height: 29px;
  width: 170px;
  left: 1160px;
  top: 3100px;
  border-radius: nullpx;
  color: #212353;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.005em;
  text-align: left;
}

.job2{
  position: absolute;
  height: 22px;
  width: 82px;
  left: 1160px;
  top: 3142px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  color:#9C69E2;
}

.cardText2{
  position: absolute;
  height: 130px;
  width: 180px;
  left: 1160px;
  top: 3183px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color:#4B5D68;
}

.vector74{
  position: absolute;
  height: 2px;
  width: 20px;
  left: 1264px;
  top: 3433px;
  mix-blend-mode: normal;
}

.polygon{
  position: absolute;
  height: 14px;
  width: 14.000000000000012px;
  left: 1275px;
  top: 3427px;
  border-radius: 0px;
  border: 0px solid #FFFFFF;
  transform:rotate(360deg);
}

.vector75{
  position: absolute;
  height: 4px;
  width: 40.00000000000015px;
  left: 1200px;
  top: 3433px;
  border-radius: 0px;
  transform: rotate(-180deg);
}

.polygon2{
  position: absolute;
  height: 20px;
  width: 25px;
  left: 1193px;
  top: 3425px;
  border-radius: 0px;
  transform:rotate(-180deg);
}

.dot1{
  position: absolute;
  height: 10px;
  width: 10px;
  left: 335px;
  top: 3428px;
  border-radius: 50px;
  background-color: #F063B8;

}
.dot2{
  position: absolute;
  height: 5px;
  width: 5px;
  left: 355px;
  top: 3431px;
  border-radius: 50px;
  background: #FFFFFF;
}

.dot3{
  position: absolute;
  height: 5px;
  width: 5px;
  left: 370px;
  top: 3431px;
  border-radius: 50px;
  background-color: #FFFFFF;
}

.dot4{
  position: absolute;
  height: 5px;
  width: 5px;
  left: 385px;
  top: 3431px;
  border-radius: 50px;
  background-color: #FFFFFF;
}

.divider{
  position: absolute;
  height: 2px;
  width: 1600px;
  left: 0px;
  top: 3648px;
  border-radius: 0px;
  background: #9C69E2;
  opacity: 0.2;
}

.try{
  position: absolute;
  height: 52px;
  width: 405px;
  left: 240px;
  top: 3750px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #212353;
}

.content{
  position: absolute;
  height: 29px;
  width: 584px;
  left: 240px;
  top: 3822px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4B5D68;
}

.footerbutton{
  position: absolute;
  height: 60px;
  width: 170px;
  left: 947px;
  top: 3771px;
  border-radius: 50px;
  border: none;
  background-color: #F063B8;
  color:#FFFFFF;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.footerbutton2{
  position: absolute;
  height: 60px;
  width: 210px;
  left: 1147px;
  top: 3771px;
  border-radius: 50px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px 0px #4B5D681A;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: center;
}

.smallrectangle2{
  position: absolute;
  height: 20px;
  width: 20px;
  left: 240px;
  top: 4016px;
  border-radius: 20px;
  background-color: #9C69E2;
}

.largeRect2{
  position:absolute;
  height: 35px;
  width: 20px;
  left: 269px;
  top: 4001px;
  border-radius: 20px;
  background-color: #F063B8;
}

.dataWarehouse{
  position: absolute;
  height: 30px;
  width: 153px;
  left: 309px;
  top: 3975px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #212353;
}

.about2{
  position: absolute;
  height: 30px;
  width: 51.7529411315918px;
  left: 715px;
  top: 3980px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;
}

.help2{
  position: absolute;
  height: 30px;
  width: 51.7529411315918px;
  left: 931px;
  top: 3980px;
  border-radius: nullpx;
  color:#212353;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.social{
  position: absolute;
  height: 30px;
  width: 170px;
  left: 1147px;
  top: 3980px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;
}

.address{
  position: absolute;
  height: 65px;
  width: 335px;
  left: 240px;
  top: 4101px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  color:#212353;
}

.email{
  position: absolute;
  height: 60px;
  width: 335px;
  left: 240px;
  top: 4176px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  color:#212353;
}

.items1{
  position: absolute;
  height: 160px;
  width: 166px;
  left: 715px;
  top: 4071px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;    
}

.items2{
  position: absolute;
  height: 190px;
  width: 166px;
  left: 931px;
  top: 4071px;
  border-radius: nullpx;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color:#212353;   
}

.circle1{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 1147px;
  top: 4071px;
  border-radius: 50px;
  background-color:#212353;  
  opacity: 0.1;
}

.circle2{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 1211px;
  top: 4071px;
  border-radius: 50px;
  background-color: #212353;
  opacity: 0.1;
}

.circle3{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 1275px;
  top: 4071px;
  border-radius: 50px;
  background-color: #212353;
  opacity: 0.1;
}

 

